body {
	background-color: #1f1f1f;
	color: white;
	font-family: 'K2D', sans-serif;
}

body::-webkit-scrollbar {
	display: none;
}

header {
	text-align: center;
	height: 80px;
	background-color: rgb(14, 14, 14);
	align-items: center;
	display: flex;
}

.logo-main {
	width: 80%;
	padding-left: 35vh;
}

.logo-main h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 6vh;
}

.logo-main a {
	color: white;
	text-decoration: none;
}

.logo-main img {
	width: 60px;
}

.area-user {
	width: 20%;
	text-align: center;
}

.fa-solid.fa-user.fa-xl::before {
	border: 3px solid white;
	border-radius: 50%;
	padding: 6px 9px;
}

.fa-solid.fa-user-secret.fa-xl::before {
	border: 3px solid white;
	border-radius: 50%;
	padding: 6px 8px;
}

.area-user a {
	text-decoration: none;
	color: white;
	padding: 0 7px;
}

.area-user a:hover {
	color: gray;
}

#espaco {
	padding-right: 10px;
}

.menu {
	text-align: center;
	padding: 15px 0;
	margin: 0 17%;
	border-top: 3px solid white;
	text-transform: uppercase;
}

.menu a {
	text-decoration: none;
	padding: 0 30px;
	color: white;
	font-weight: bold;
	font-size: 13px;
}

.menu a:hover {
	color: gray;
}

#divi {
	margin: 0 20%;
	border-bottom: 3px solid white;
}

section#contato {
	text-align: center;
	padding: 30px 0;
	background-color: rgb(14, 14, 14);
}


.contato ul {
	display: flex;
	text-align: center;
	padding: 20px 20% 0 20%;
	margin: 0;
}

.contato li {
	list-style-type: none;
	padding: 0px 40px;
	width: 40%;
}

.contato p {
	color: gray;
}

#voltarTopo {
	background-color: #1f1f1f;
	padding: 1vh 1.5vh;
	float: right;
	width: 4%;
}

footer {
	background-color: white;
	text-align: center;
	color: black;
	padding: 3px 0;
	display: flex;
}

footer p {
	padding-top: 1vh;
	padding-left: 10vh;
	margin-bottom: 0;
	width: 93%;
}

.msgSucesso {
	margin: 2vh 17%;
	padding: 1vh 2vh;
	background-color: darkgreen;
	color: white;
	font-size: 2.5vh;
	opacity: 0.7;
	border-radius: 5px;
}

.msgErro {
	margin: 2vh 17%;
	padding: 1vh 2vh;
	background-color: darkred;
	color: white;
	font-size: 2.5vh;
	opacity: 0.7;
	border-radius: 5px;
}

.msgErro.login {
	margin: 2vh 30%;
}

section#carrossel {
	text-align: center;
	padding-bottom: 4px;
}

.carousel-control-next {
	margin-top: 35vh;
	height: 20vh;
}

.carousel-control-prev {
	margin-top: 35vh;
	height: 20vh;
}

section#plataformas {
	text-align: center;
	padding: 40px 0;
	margin: 0 20%;
}

section#plataformas h3 {
	text-transform: uppercase;
	font-weight: bold;
}


.plataformas ul {
	display: flex;
	text-align: center;
	padding-top: 10px;
	padding-left: 0;

}

.plataformas li {
	list-style-type: none;
	padding: 10px 40px;
	width: 30%;
}

.plataformas img {
	width: 100px;
}

#xbox p {
	padding-top: 10px;
}

#ximg {
	width: 90px;
	padding-top: 5px;
}

#play p {
	padding-top: 12px;
}

#pimg {
	width: 115px;
	padding-top: 5px;
}

#wind {
	padding-top: 2px;
}

#wind p {
	padding-top: 5px;
}

#wimg {
	width: 110px;
}

#switch p {
	padding-top: 5px;
}

section#jogos {
	display: flex;
	padding: 0 0 40px 0;
	margin: 0 5%;
}

.games {
	width: 55%;
	padding: 0;
}

.game {
	display: flex;
	margin-bottom: 20px;
	background-color: rgb(38, 38, 38);
	border: 1px solid black;
	color: white;
}

.game p {
	color: gray;
	margin: 0;
	text-align: justify;
}

.game h6 {
	margin: 0;
	color: rgb(164, 164, 164);
}

.imgGame {
	width: 30%;
	text-align: center;
	border-right: 1px solid black;
}

.imgGame img {
	width: 100%;
}

#imgGameErro {
	font-size: 14px;
	padding: 45px 10px;
	text-align: center;
}

.infoGame {
	width: 70%;
	float: right;
	padding: 10px 15px;
	display: flex;
}

.infoGame-info {
	width: 85%;
	padding-right: 3vh;
}

.infoGame-info a {
	text-decoration: none;
	color: white;
}

.infoGame-info a:hover {
	color: rgb(91, 91, 91);
}

.mediaJogo {
	width: 13%;
	text-align: right;
}

#mediaJogo {
	background-color: white;
	color: rgb(38, 38, 38);
	text-align: center;
	padding: 0.6vh 0;
	font-size: 25px;
	font-weight: bold;
	border-radius: 9px;
}

#descGame {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	color: white;
	margin-top: 1vh;
}

#plataformaGame button {
	color: rgb(159, 159, 159);
	background-color: rgb(38, 38, 38);
	cursor: default;
	border: 0.5px solid rgb(159, 159, 159);
	margin-top: 0.5vh;
}

#acoesGame {
	margin-top: 10px;
}

#editarGame {
	text-decoration: none;
	background-color: white;
	color: black;
	padding: 2px 5px;
	border-radius: 5px;
}

#deletarGame {
	text-decoration: none;
	background-color: rgb(91, 91, 91);
	color: white;
	padding: 2px 5px;
	border-radius: 5px;
}



.newsGames {
	width: 45%;
	padding-left: 20%;
	text-align: justify;

}

.imgNews img {
	width: 100%;
	border-bottom: 1px solid rgb(14, 14, 14);
}

.infoNews {
	padding: 5px 10px;
	background-color: rgb(38, 38, 38);
}

.infoNews a {
	text-decoration: none;
	color: white;
}

.infoNews a:hover {
	color: gray;
}

#borderNew {
	border: 1px solid rgb(14, 14, 14);
	margin-bottom: 20px;
}



form.new-critica {
	width: 65%;
	margin: auto;
	display: block;
}

form.new-critica h2 {
	margin-top: 4vh;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.new-critica {
	margin: 5vh 0;
	display: flex;
}

.critica {
	width: 70%;
}

.newsCritica {
	width: 30%;
	padding-left: 6vh;
	text-align: justify;
}

#txt-spo.form-label {
	margin-top: 2vh;
}

form.new-critica button {
	margin-top: 2vh;
	width: 40%;
	background-color: rgb(14, 14, 14);
	color: white;
	border: 2px solid gray;
	border-radius: 10px;
	height: 38px;
}

.input-group.mb-3 {
	margin: 0 !important;
}

.inputs-critica {
	display: block;
	margin-bottom: 1rem;
}

span.error {
	color: red;
}



.new-game {
	width: 70%;
	margin: auto;
	margin-bottom: 5vh;
}

form.new-game h2 {
	text-align: center;
	margin: 4vh;
}

#data.input-group.mb-3 {
	margin-top: 2vh;
}

.new-game img {
	width: 30vh;
}

.new-game button {
	width: 40%;
	background-color: rgb(14, 14, 14);
	color: white;
	border: 1px solid gray;
	border-radius: 10px;
	height: 35px;
	margin-top: 3vh;
}

form#form-detalhar {
	margin: 5vh 17%
}

.game-detalhar {
	display: flex;
	padding-bottom: 3vh;
}

.game-detalhar p {
	margin: 0;
}

.game-corpo {
	width: 70%;
}

.game-corpo-flex {
	display: flex;
}

.nome-detalhar {
	width: 84%
}

#descGame-detalhar {
	margin-top: 3vh;
}

#mediaJogo-detalhar {
	background-color: white;
	color: #1f1f1f;
	text-align: center;
	padding: 1vh 0;
	font-size: 30px;
	font-weight: bold;
	border-radius: 9px;
}

.game-det-img {
	width: 30%;
	padding-left: 4vh;
}

.game-det-img img {
	width: 100%;
}

.criticas-games {
	display: flex;
	margin-bottom: 10vh;
}

.divisoria-detalhar {
	margin-top: 5vh;
	padding-bottom: 1vh;
	color: rgb(132, 132, 132);
	border-bottom: 1px dashed rgb(108, 108, 108);
	margin-bottom: 2vh;
}

.card-critica {
	width: 40%;
	padding-right: 4vh;
}

.card-critica-flex {
	display: flex;
}

.card-critica-flex p {
	font-size: 13px;
	color: gray;
}

.card-critica-flex h5 {
	padding: 0 10vh 0 2vh;
	margin: 0;
}

.nome-plat {
	display: block;
}

.nome-plat button {
	margin: 0 10vh 0 2vh;
}

#plataformaGame-detalhar {
	color: rgb(159, 159, 159);
	background-color: rgb(38, 38, 38);
	cursor: default;
	border: 0.5px solid rgb(159, 159, 159);
	font-size: 10px;
}

#notaJogo {
	width: 60px;
	background-color: white;
	color: #1f1f1f;
	text-align: center;
	padding: 1vh 0;
	font-size: 25px;
	font-weight: bold;
	border-radius: 7px;
	margin-bottom: 4vh;
}

#paginaInicial-detalhar {
	background-color: white;
	border-radius: 8px;
	text-decoration: none;
	color: #1f1f1f;
	padding: 0.5vh 1vh;
}

#paginaInicial-detalhar:hover {
	background-color: rgb(42, 42, 42);
	color: white;
}

#adicionarGame-detalhar {
	background-color: rgb(159, 159, 159);
	border-radius: 8px;
	text-decoration: none;
	color: black;
	padding: 0.5vh 1vh;
	cursor: pointer;
}

#adicionarGame-detalhar:hover {
	background-color: rgb(58, 58, 58);
	color: white;
}







form.login {
	margin: 5vh 0;
}

.login-form {
	background-color: rgb(38, 38, 38);
	padding: 4vh 5vh;
	width: 40%;
	margin: auto;
}

.login-form h1 {
	margin-bottom: 4vh;
}

.login-form label {
	width: 80%;
	font-size: 20px;
	margin-bottom: 1vh;
}

.login-form input {
	background-color: rgb(38, 38, 38);
	border: 0;
	border-bottom: 2px solid black;
	margin-bottom: 2vh;
	width: 90%;
	color: white;
}

.login-form input::placeholder {
	color: gray;
}

.login-form button {
	width: 40%;
	background-color: rgb(14, 14, 14);
	color: white;
	border: 1px solid gray;
	border-radius: 10px;
	height: 35px;
}



form.register {
	margin: 5vh 0;
}

.register-form {
	background-color: rgb(38, 38, 38);
	padding: 4vh 5vh;
	width: 40%;
	margin: auto;
}

.register-form h1 {
	margin-bottom: 4vh;
	text-align: center;
	font-size: 7vh;
}

.register-form h3 {
	color: rgb(180, 180, 180);
	margin-bottom: 2vh;
	font-weight: bold;
}

#endereco-register {
	padding-top: 5vh;
}

.register-form label {
	width: 80%;
	font-size: 17px;
	margin-bottom: 1vh;
}

.register-form input {
	background-color: rgb(38, 38, 38);
	border: 0;
	border-bottom: 2px solid black;
	margin-bottom: 3vh;
	width: 90%;
	color: white;
}

.register-form input::placeholder {
	color: gray;
}

.register-form button {
	width: 40%;
	background-color: rgb(14, 14, 14);
	color: white;
	border: 1px solid gray;
	border-radius: 10px;
	height: 35px;
	margin-bottom: 10vh;
	margin-top: 3vh;
}

.cepUF{
	display: flex;
}

.cep {
	display: flex;
	width: 59%;
}

.cep label{
	width: 20%;
}

.cep input {
	width: 100%;
}

.uf {
	display: flex;
	width: 30%;
}

.uf label {
	padding-left: 6vh;
	width: 90%;
}

.uf select {
	height: 4vh;
	background-color: gray;
	border: 1.5px solid black;
	width: 40%;
}