#{extends 'main.html' /}
#{set title:'Adicionar Game' /}

<form class="new-game" action="@{Games.salvar}" method="POST" enctype="multipart/form-data">

	<h2>Adicione um novo game</h2>
	<div class="new-game">
		<input type="hidden" name="g.id" value="${g?.id}">

		<div class="input-group mb-3">
			<span class="input-group-text" id="basic-addon1">Game</span>
			<input type="text" name="g.nome" value="${g?.nome}" class="form-control" placeholder="Digite o nome do game"
				aria-label="Username" aria-describedby="basic-addon1" required>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text" id="basic-addon1">Gênero</span>
			<input type="text" name="g.genero" value="${g?.genero}" class="form-control"
				placeholder="Qual o gênero do game?" aria-label="Username" aria-describedby="basic-addon1" required>
		</div>

		#{if g?.id}
		#{list items:criticas, as:'c'}
		<div>
			<input type="checkbox" value="${c.id}" name="idCritica" />
		</div>
		#{/list}
		#{/if}

		<div class="input-group mb-3">
			<span class="input-group-text" id="basic-addon1">Desenvolvedor(a)</span>
			<input type="text" name="g.desenvolvedor" value="${g?.desenvolvedor}" class="form-control"
				placeholder="Qual o desenvolvedor(a) do game?" aria-label="Username" aria-describedby="basic-addon1"
				required>
		</div>

		<label class="form-label">Plataformas suportadas</label>
		<div class="form-check">
			<input name="g.plataforma" class="form-check-input" type="checkbox" value="PlayStation"
				id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
				Playstation
			</label>
		</div>
		<div class="form-check">
			<input name="g.plataforma" class="form-check-input" type="checkbox" value="Xbox" id="flexCheckChecked">
			<label class="form-check-label" for="flexCheckChecked">
				Xbox
			</label>
		</div>
		<div class="form-check">
			<input name="g.plataforma" class="form-check-input" type="checkbox" value="Windows" id="flexCheckChecked">
			<label class="form-check-label" for="flexCheckChecked">
				Microsoft Windows
			</label>
		</div>
		<div class="form-check">
			<input name="g.plataforma" class="form-check-input" type="checkbox" value="Switch" id="flexCheckChecked">
			<label class="form-check-label" for="flexCheckChecked">
				Switch
			</label>
		</div>

		<div id="data" class="input-group mb-3">
			<span class="input-group-text" id="basic-addon1">Data de lançamento</span>
			<input type="date" name="g.lancamento" value="${g?.lancamento}" class="form-control"
				placeholder="Qual o gênero do game?" aria-describedby="basic-addon1" required>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text" id="basic-addon1">Breve descrição</span>
			<textarea name="g.descricao" value="${g?.descricao}" class="form-control"></textarea>
		</div>

		Imagem do Game
		<input type="file" name="foto">

		#{if g?.id}
		<img src="../uploads/${g.id}/${g.nomeFoto}">
		#{/if}

		<button>Adicionar game</button>
	</div>
</form>